.App {
  text-align: center;
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portrait {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  margin-right: 25px;
  margin-bottom: 25px;
  align-content: center;
}

.portraitImage {
  max-width: 100px;
  min-height: 130px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.portraitButton {
  background-color: #F5F5F5;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-content: center;
}

.searchBar {
  max-width: 150;
  max-height: 25px;
  align-content: center;
  align-self: center;
  justify-content: center;
  margin-top: 5px;
}

header {
  background-color: skyblue;
  width: 100%;
  overflow: hidden;
  height: 44px;
  margin-bottom: 5px;
}

input {
  width: 25%;
  height: 100%;
}

.backButton {
  background-color: red;
  font-size: 20px;
  min-width: 100px;
  max-width: 100px;
  min-height: 25px;
  max-height: 100px;
  color: white;
}

.display {
  min-width: 100%;
  background-color: white;
  display: inline-block;
  flex-direction: column;
  text-align: left;
  image-orientation: flip;
}

.pokemonDetails {
  line-height: 2px;
}
.Abilities {
  background-color: white;
  line-height: 10px;
}

progress {
  width: 75%;
  height: 15px;
  text-align: center;
  background-color: royalblue;
  line-height: 15px;
}

progress:after {
  content: attr(value);
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.Poison {
  background-color: #682A68;
  max-width: 100px;
  color: white;
  text-align: center;
}

.Grass {
  background-color: #4E8234;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Fire {
  background-color: #9C531F;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Water {
  background-color: #445E9C;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Bug {
  background-color: #6D7815 ;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Flying {
  background-color: #6D5E9C;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Normal {
  background-color : #6D6D4E;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Rock {
  background-color : #786824;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Ground {
  background-color : #927D44;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Ice {
  background-color : #638D8D;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Electric {
  background-color : #A1871F;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Fighting {
  background-color : #7D1F1A;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Ghost {
  background-color : #493963;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Psychic {
  background-color : #A13959;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Steel {
  background-color : #787887;  
  max-width: 100px;
  color: white;
  text-align: center;
}

.Dark {
  background-color : #49392F;  
  max-width: 100px;
  color: white;
  text-align: center;
}
